<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cateye.chris.mapper.CinemaFilmRelMapper">
  <resultMap id="BaseResultMap" type="cateye.chris.bean.po.CinemaFilmRel">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="cma_id" jdbcType="INTEGER" property="cmaId" />
    <result column="film_id" jdbcType="INTEGER" property="filmId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, cma_id, film_id
  </sql>
  <select id="selectByExample" parameterType="cateye.chris.bean.po.CinemaFilmRelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cinema_film_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cinema_film_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from cinema_film_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="cateye.chris.bean.po.CinemaFilmRelExample">
    delete from cinema_film_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cateye.chris.bean.po.CinemaFilmRel">
    insert into cinema_film_rel (id, cma_id, film_id
      )
    values (#{id,jdbcType=INTEGER}, #{cmaId,jdbcType=INTEGER}, #{filmId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="cateye.chris.bean.po.CinemaFilmRel">
    insert into cinema_film_rel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="cmaId != null">
        cma_id,
      </if>
      <if test="filmId != null">
        film_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="cmaId != null">
        #{cmaId,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        #{filmId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cateye.chris.bean.po.CinemaFilmRelExample" resultType="java.lang.Long">
    select count(*) from cinema_film_rel
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cinema_film_rel
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.cmaId != null">
        cma_id = #{record.cmaId,jdbcType=INTEGER},
      </if>
      <if test="record.filmId != null">
        film_id = #{record.filmId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cinema_film_rel
    set id = #{record.id,jdbcType=INTEGER},
      cma_id = #{record.cmaId,jdbcType=INTEGER},
      film_id = #{record.filmId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cateye.chris.bean.po.CinemaFilmRel">
    update cinema_film_rel
    <set>
      <if test="cmaId != null">
        cma_id = #{cmaId,jdbcType=INTEGER},
      </if>
      <if test="filmId != null">
        film_id = #{filmId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cateye.chris.bean.po.CinemaFilmRel">
    update cinema_film_rel
    set cma_id = #{cmaId,jdbcType=INTEGER},
      film_id = #{filmId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>